@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a, label, p, input, pre{
    font-family: 'Noto Sans TC', sans-serif;
}

label, p, pre{
    color:#fecf8d;
}

a{
    color:#00baff;
}


.noselect {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
	                    supported by Chrome and Opera */
}

.buttonImg {
    cursor: pointer;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.centerWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.XcenterWrapper {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.YcenterWrapper {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.fullWrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%; /*for mozilla*/
}

/*========================================*/
div.content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    background-color:rgb(10,10,10);
}

div.warpBG{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

div.textDiv{
    position:absolute;
    width:calc(80vw);
    height:17vh;
    bottom:calc(35vh * 0.145);    
}

div.touchAreaDiv{
    position:absolute;
    right:0;
    width:50%;
    height:100%;
}

div.nameDiv{
    width:80%;
    height:40%;
}

div.fbDivUp{
    position:absolute;
    width:100%;
    height:6vh;
}

div.fbDivDown{
    position:absolute;
    top:6vh;
    width:100%;
    height:7vh;
}

div.leftTextDiv{
    position:absolute;

    left:0;
    width:70%;
    height:100%;
    display:table;
}


div.rightBtnDiv{
    position:absolute;

    right:0;
    width:30%;
    height:100%;
    text-align:center;
}

div.dataInputDiv
{
    width:90%;
    height:30%;
    margin-top:2px;
}

div.leftDataDiv
{
    position:absolute;
    left:0;
    width:50%;
    height:calc(17vh * 0.3);
    text-align:center;
}

div.rightDataDiv {
    position: absolute;
    right: 0;
    width: 50%;
    height:calc(17vh * 0.3);
    text-align: center;
}
div.textCenter{
    text-align: center;
}

div.termDiv{
    width:90vw;
    height:90vh;
    background-color:rgba(0, 0, 0, 0.85);
}

div.nameTextDiv{
    width:100%;
    height:12vh;
}

div.shareTextDiv{
    width:80%;
    height:13vh;
}

div.resultTextDiv{
    width:90%;
    height:10vh;
    display:table;
}

div.sendUpDiv
{
    position:absolute;
    width:100%;
    height:6vh;
}

div.sendDownDiv{
    position:absolute;
    top:6vh;
    width:100%;
    height:6vh;
}

div.photoDiv{
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.75);
    color:white;
}

div.photoSliderDiv{
    width:80vw;
    height:calc( (80vw * 16 / 9));

   
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(250, 183, 0, 0.8);
}

div.presentDiv{
    position:absolute;
    height:30vw;
    width:30vw;
    top:calc(50% - 15vw);
    right:5vw;
}

img.background {
    width:100%;
    height: 100%;
}

img.photoSlide{
    width:100%;
}

img.table{
    position:absolute;
    bottom:0px;
    width:100%;
    height:35vh;
}

img.presentLight{
    width:100%;
    transform-origin:50% 50%;
}

img.present{
    width:70%;
}

img.presentMark{
    top:0;
    width:40%;
}

img.light{
    position:absolute;
    width: 100%;
    bottom:calc(35vh * 0.92);
    
}

img.liquor{
    position:absolute;
    width: 80%;
    bottom:calc(35vh * 0.9);
}

img.btnSend{
    position:absolute;
    width:100%;
}

img.fbShareBtn{
    width:70%;
}

img.dr{
    position:absolute;
    width:100%;
    bottom:0;
}

img.bottle{
    width:90%;
    bottom:calc(35vh * 0.92);
}

img.lotteryBtn{
    height:25%;
    bottom:0;
}

img.btnClose{
    position:absolute;
    right:-2vh;
    height:4vh;
    bottom:-2vh;
}

img.btnPhotoClose{
    position:absolute;
    right:calc(10vw - 2vh);
    top:calc(50% + 80vw * 16/9 * 0.5 - 2.5vh);
    height:4vh;
}



input[type=text].inputNickName{
    position:absolute;
    background: transparent;
    border: none;
    font-size:1.5vh;
    color:#fecf8d;
    margin-left:5px;
    width:50%;
}

input[type=text].dataInput{
    width:80%;
    border: none;
    background: rgba(0, 0, 0, 100);
    color:#fecf8d;
    font-size:3.8vw;
    padding: 2px 0px 2px 5px;
}

input[type=text].dataInput::placeholder {
    color:#fecf8d;
}


label.basic, p.basic{
    color:#fecf8d;
    
    transform: scale(1,1.25);
}

p.title{
    text-align:center;
    font-size:4vw;
    margin: 0;
}

label.titleSmall, p.titleSmall{
    text-align:center;
    font-size:3.8vw;
}

p.pShareContent{    
    font-size:3.8vw;
    line-height:100%;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

p.pTitleShare{
    margin: 0px;
}

p.pResult{
    display:table-cell;
    vertical-align:middle;
}

p.pNameText
{
    line-height:6vh;
}



label.pTitleData, p.pTitleData{
    margin-top:0px;
    margin-bottom:0px;
}

pre.term{
    height:70vh;
    overflow-y:auto;
    white-space: pre-wrap;
    padding:10px;
    font-size:calc(17vh * 0.12);
}

/*------------------------------*/
/*Animation*/
@keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}
@-webkit-keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}
.rotating
	{
	-webkit-animation: rotating 3s linear infinite;
	-moz-animation: rotating 3s linear infinite;
	-ms-animation: rotating 3s linear infinite;
	-o-animation: rotating 3s linear infinite;
	animation: rotating 3s linear infinite;
    
	}