div.charMsg {
    position: absolute;
    width: 95%;
    top: 2vh;
    text-align: center;
    font-size: 6vw;
    color: rgb(255, 255, 255);
    line-height: 6vh;
}

div.charDiv {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 7vh;
    text-align: center;
}


img.character {
    top: 0px;
    position: absolute;
    height: 100%;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

img.slide{
    display:none;
}

img.head {
    z-index: 5;
}

img.body {
    z-index: 10;
}

img.leg {
    z-index: 5;
}

/*-------------------------------*/
img.headBtn {
    position: absolute;
    top: calc(55vw * 0.1);
    height: 15vw;
}

img.legBtn {
    position: absolute;
    top: calc(55vw * 0.8);
    height: 15vw;
}

img.btnLeft {
    left: -5vw;
}

img.btnRight {
    right: -5vw;
}
